* {
  box-sizing: border-box;
}
body {
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  width: 100%;
  position: relative;
}
.background-img {
  width: 100%;
}
.text-block {
  width: 537px;
  position: absolute;
  z-index: 1;
  top: 50px;
  left: 50%;
  transform: translate(-50%, 20%);
  color: black;
  text-align: center;
}
h1 {
  text-transform: uppercase;
  font-size: 90px;
  margin-bottom: 60px;
}
.text {
  font-size: 19px;
  width: 80%;
  transform: translate(10%);
}
.notify-btn {
  width: 268px;
  height: 57px;
  color: white;
  background-color: #47fcc0;
  margin-top: 20px;
  font-size: 23px;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.notify-btn:hover {
  background-color: #35dca4;
}
.notify-btn:active {
  background-color: #35dca4;
  box-shadow: 1px 2px 10px rgba(123, 123, 123, 0.193501);
}
.footer {
  position: absolute;
  width: 100%;
  text-align: center;
}
.icons {
  margin: 10px 0 10px 0;
  width: 29px;
  height: 29px;
  cursor: pointer;
}
.x-img {
  width: 77px;
  height: 77px;
}
.purple {
  top: 10%;
  right: 30%;
  position: absolute;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 900ms;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.yellow {
  top: 60%;
  left: 25%;
  position: absolute;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 900ms;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.i-img {
  width: 80px;
  height: 80px;
}
.orange {
  top: 20%;
  left: 30%;
  position: absolute;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 700ms;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.pink {
  top: 70%;
  right: 25%;
  position: absolute;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-duration: 700ms;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
li {
  list-style-type: none;
  display: inline-block;
}
