@import "./mixins";

$spacing: 8px;

.global-content {
  @include conteiner;
}
.places {
  overflow: hidden;
  margin: 0 auto;

  padding: $spacing;
  &__item {
    padding-right: $spacing;
  }
}
.place {
  min-height: 200px;
  width: 100%;
  position: relative;
  &__image {
    overflow: hidden;
    border-radius: 10px;
    @include normalizeImage;
  }
  &__content {
    margin-top: $spacing;
    overflow: hidden;
    font-size: 0.7rem;
  }
  &__footer {
    font-size: 0.8rem;
    padding-bottom: 15px;
  }
  &__description {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__description_left {
    width: 80%;
    display: flex;
    justify-content: start;
  }
  &__description_right {
    width: 40px;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__country {
    font-size: 0.8rem;
    font-weight: 500;
    margin-left: 5px;
    color: rgb(123, 123, 123);
  }
  &__title {
    margin-top: $spacing;
    font-size: 1 rem;
    font-weight: 500;
    margin-bottom: $spacing;
    height: 10%;
  }
  &__link {
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    color: #222222;
  }
}
.place__rating{
  margin-top: 3px;
}
.prop_star-plus{
  color: rgb(155, 30, 49);


}
.content__header {
  margin-top: $spacing * 6;
  padding: $spacing * 2;
  padding-left: 0;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
  padding-bottom: 05px;
  &_bottom {
    margin-bottom: $spacing * 2;
  }
  &_link {
    color: #222222;
  }
  &-row {
    position: relative;
}
  &-row:hover::after {
    content: ">";
    position: absolute;
    top: 10px;
    right: 480px;
    font-size: 3.2rem;
    transform: scaleX(0.6);
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.global-footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 50px;
  bottom: 50px;
  text-align: right;
  width: 100%;
  &__text {
    color: white;
  }
}
.explore-btn {
  width: 100%;
  height: 80px;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(164, 162, 162, 0.34);

  &__image {
    width: 40%;
    height: 100%;
    position: absolute;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  &__link {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
  }
  &__text {
    position: absolute;
    width: 60%;
    height: 100%;
    right: 0;
    display: flex;
    justify-content: start;
    align-items: center;
    z-index: 0;
    font-weight: 600;
    transform: translate(10%, 0);

  }
}
.content {
  width: 100%;
  padding-left: $spacing * 20;
  padding-right: $spacing * 20;
}
.explore-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  &__btn {
    padding: $spacing;
  }
  &__btn:first-child {
    padding-left: 0;
  }
  &__btn:last-child {
    padding-right: 0;
  }
}

.plus {
  width: 100%;
  height: 30vh;
  position: relative;
  &__content {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  &__content-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-clip: border-box;
    border-radius: 10px;
  }
  &__content-logo {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 30px;
  }
  &__content-btn {
    width: 100%;
    height: 45px;
    position: absolute;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 140px;
  }
  &__content-btn-center {
    position: relative;
    width: 153px;
    height: 100%;
    border: none;
    border-radius: 3px;
    background-color: var(--header-text-color);
  }
  &__content-btn-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  &__content-btn-center-name {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding-right: 20px;
    font-weight: 600;
    color: grey;
  }
  &__content-btn-center-name:after {
    content: ">";
    margin-left: 3px;
    font-size: 2.5rem;
    position: absolute;
    transform: scaleX(0.4);
    font-weight: 100;
    top: 2px;
  }
}
.introduce_content {
  &__col {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: $spacing;
  }
  &__col:last-child {
    padding-right: 0;
  }
  &__col-img {
    width: 100%;
    height: 70%;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
  }
  &__col-link {
    width: 100%;
    height: 100%;
    position: absolute;
    padding-right: 5px;
    z-index: 1;
  }
}
.col-sign {
  margin-top: 10px;
  font-size: 0.75rem;
  &_rating {
    margin-top: 5px;
    display: flex;
    justify-content: start;
  }
  &_rating_star {
    width: 20px;
    padding-right: 10px;
  }
  &_price_row {
    display: flex;
    justify-content: space-between;
  }
  &_place {
    margin-bottom: $spacing;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
  }
  &_description {
    height: 30px;
  }
}
.prop {
  border: 1px solid rgba(41, 40, 40, 0.585);
  border-radius: 3px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 0.55rem;
  &_text {
    margin: 2%;
    text-transform: uppercase;
    font-weight: bold;
  }
  &_star {
    position: absolute;
    right: 0;
  }
  &_star-icon {
    width: 15px;
  }
}
.prop-plus {
  background-color: rgb(155, 30, 49);
  color: var(--header-text-color);
  text-transform: uppercase;
  border: 1px solid rgba(41, 40, 40, 0.585);
  font-size: 0.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  &_text {
    text-transform: uppercase;
    font-weight: bold;
  }
}
.bottom-line {
  margin-bottom: 20px;
}
.show-all {
  display: flex;
  align-items: center;
  &_link {
    color: #222222;
  }
}
.show-all_link:hover {
  background-color: rgba(163, 159, 159, 0.366);
  border-radius: 3px;
}
.show-all_link::after {
  content: ">";
  font-size: 1rem;
  font-weight: 600;
  margin-left: 10px;
  transform: scaleX(0.2);
  text-decoration: none;
}